# GitHub
VITE_GITHUB_USERNAME=csy20

# Contact
VITE_EMAIL=chitreshy20@gmail.com

# Resume (Google Drive direct download link)
VITE_RESUME_URL=https://drive.google.com/uc?export=download&id=1FvyG1rvcAQxYL9OQWI6UtF6zX7-lsmAN

# Theme
VITE_THEME_STORAGE_KEY=csy20-theme
