# GitHub
VITE_GITHUB_USERNAME=csy20

# Contact
VITE_EMAIL=chitreshy20@gmail.com

# Resume (Google Drive direct download link)
VITE_RESUME_URL=https://drive.google.com/uc?export=download&id=195gbT0ii9Q_coaHyTS5srOfqXaI8cNdn

# Theme
VITE_THEME_STORAGE_KEY=csy20-theme
